<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include "_head.html" %}
</head>
<body>
    {% include "_nav_nreg.html" %}
    <h1>Reset Password</h1>
    <form id="reset-form">
        <input type="hidden" name="email" value="{{email}}">
        <input type="hidden" name="token" value="{{token}}">
        <input type="text" placeholder="New Password" name="password">
        <button type="submit">Reset Password</button>
    </form>
    <div id="result"></div>
</body>
</html>